{{#partial "content"}}
      <div class="content transparent">
            <h2 class="bvis-1 title">Contract complete</h2>
            <div class="info">
              Thank you for choosing BVIS to rent your car. 
              Please come to the Rental office on time. 
            </br>
            </br>
              You may close the window now.
            </div>       
        </div>
{{/partial}}

{{> base}}