{{#partial "content"}}
      <div class="content transparent">
            <form class="form" action="/get-billing/" method="POST">
            <div class="input-group">
                <label>Customer Id</label>
                <input name="customerId" placeholder="Customer Id" class="input">
            </div>
            <div class="input-group">
                <label></label>
                <input type="submit" class="bvis-1-bg bvis-1-bg-hover button" value="Download billing">
            </div>
            </form>      
        </div>
{{/partial}}

{{> base}}