{{#partial "content"}}
      <div class="content center">
        <a href="/start-private-rent"><button class="bvis-1-bg bvis-1-bg-hover button entry">Find the home of your dreams<i class="ion-chevron-right inline-icon"></i></button></a>
      </div>
{{/partial}}

{{> base}}