<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="C:\Users\Felix\git\BVIS\src\main\resources\static\css\style.css"> 
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <title>BVIS Rental Services</title>
  </head>
  <body>
    <div class="container">
      <h1><a href="/"><img src="/images/brand.svg" class="brand"></a></h1>
	    <div class="content transparent">
	        <h2 class="bvis-1 title">Contract complete</h2>
	        <div class="info">
	          Thank you for choosing BVIS to rent your car. 
	          Please come to the Rental office on time. 
	      	</br>
	      	</br>
	          You may close the window now.
	        </div>       
	    </div>
    </div>
  </body>
</html>


